.large { font-size: 160% }

.title-slide .remark-slide-number {
    display: none;
}

.remark-slide-number {
    display: none;
}

#newsroom-hacking {
    margin-bottom: 0px;
}

#how-data-journalism-was-bootstrapped-at-renascen-a{
    margin-top: 0px;
}

a {
  background-image: linear-gradient(120deg, #ed1c24 0%, #fbc8b4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

a:hover {
  background-size: 100% 20%;
}


div.my-footer {
    background-color: #ed1c24;
        position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    color: white;
        position: absolute;
    left: 15px;
    bottom: 2px;
}

iframe {
    width:100%;
    height:600px;
}

#flag {
    font-size:200px;
    margin-bottom:0;
}

.inverse {
    background-color:rgb(151,220,223);
}

.black {
    background-color: black;
    color: #FFFFFF;
}

.black h1, .black h2, .black h3 {
  color: #FFFFFF;
}

.title_sidenote h1 {
  margin-bottom: 0px;
}

.title_sidenote p {
  margin-bottom: 0px;
}


.sidenote {
  position: relative;
  top:-40px;
  font-size: 2rem;
  font-style: italic;
}

.source {
  font-size: 0.7rem;
}


li {
  margin-bottom: 3rem;
}


.box {
  font-size: 1.5rem;
  -webkit-box-shadow: 2px 20px 50px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 2px 20px 50px 0px rgba(0,0,0,0.58);
  box-shadow: 2px 20px 50px 0px rgba(0,0,0,0.58);
  width: 92%;
  padding: 5px 30px;
}

